
*,
*::before,
*::after { 
  box-sizing: border-box;
}

* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 10px;
}

.title {
  background: #e3f4ff;
  margin: auto;
  border: 10px solid white;
  padding: 10px
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-top: -10px;
  border: 10px solid white
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 12px;
  border: 10px solid white;
  margin-top: -10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 12px 24px;
  margin: 0px auto;
}
